{{template "layout" .}}

{{define "title"}}Change Password{{end}}

{{define "pagemeta"}}
    <meta name="robots" content="noindex">
{{end}}

{{define "page"}}
<h2>Change Password</h2>
<form action='/user/change-password' method='POST' novalidate>
    {{with .Users}}
        <input type='hidden' name='csrf_token' value='{{.CSRFToken}}'>
        <div>
            <label class="form-label">Current password:</label>
            <input type='password' class='form-control {{.Errors.Valid "currentPassword"}}' name='currentPassword'>
            {{with .Errors.Get "currentPassword"}}
                <div class='invalid-feedback'>{{.}}</div>
            {{end}}
        </div>
        <div>
            <label class="form-label">New password:</label>
            <input type='password' class='form-control {{.Errors.Valid "newPassword"}}' name='newPassword'>
            {{with .Errors.Get "newPassword"}}
                <div class='invalid-feedback'>{{.}}</div>
            {{end}}
         </div>
        <div>
            <label class="form-label">Confirm password:</label>
            <input type='password' class='form-control {{.Errors.Valid "newPasswordConfirmation"}}' name='newPasswordConfirmation'>
            {{with .Errors.Get "newPasswordConfirmation"}}
                <div class='invalid-feedback'>{{.}}</div>
            {{end}}
        </div>
        <div>
            <input type='submit' value='Change password'>
        </div>
    {{end}}
</form>
{{end}}