{{template "layout" .}}

{{define "title"}}Sign-up{{end}}

{{define "pagemeta"}}
	<meta name="description" content="Sign up for access to this website.">
    <meta name="robots" content="noindex">
{{end}}

{{define "page"}}
    <div class="container">
        {{block "signupPage" .}}
            <p>For invited users of {{block "website" .}}this website{{end}} only. See your invitation email for your username, and choose your own password.</p>
        {{end}}
        <form action='/user/signup' method='POST' novalidate>
            {{with .Users}}
                <input type='hidden' name='csrf_token' value='{{.CSRFToken}}'>
                <div class="col-md-6 mb-3">
                    <label class="form-label" for='usr'>Username</label>
                    <input type='email' class='form-control {{.Errors.Valid "username"}}' id='usr' name='username' autocomplete='username' value='{{.Get "username"}}'>
                    <small class="form-text text-muted">Your email address.</small>
                    {{with .Errors.Get "username"}}
                         <div class='invalid-feedback'>{{.}}</div>
                    {{end}}
                </div>
				<div class="col-md-6 mb-3">
                    <label class="form-label">Your name</label>
                    <input type='text' class='form-control {{.Errors.Valid "displayName"}}' name='displayName' value='{{.Get "displayName"}}'>
                    <small class="form-text text-muted">As seen by visitors to this website.</small>
                    {{with .Errors.Get "displayName"}}
                         <div class='invalid-feedback'>{{.}}</div>
                    {{end}}
                </div>
                <div class="col-md-6 mb-3">
                    <label class="form-label" for='usr'>Password</label>
                    <input type='password' class='form-control {{.Errors.Valid "password"}}' id='pwd' name='password' autocomplete='new-password'>
                    <small class="form-text text-muted">10 or more characters.
                            <br>Recommended: a password generated by your web browser, or three unrelated words.</small>
                    {{with .Errors.Get "password"}}
                        <div class='invalid-feedback'>{{.}}</div>
                    {{end}}
                </div>
            {{end}}
            <button type='submit' class='btn btn-primary'>Sign-up</button>
        </form>
    </div>
{{end}}

{{ define "pagescripts" }}
{{end}}